<div class="py-5 " >
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row" style="height: 100%;">
          <ul class="dropdown dropright">
            <li type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <a>
                <img src="" class="rounded" alt="Cliente 1">
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="row" style="height: 100%;">
          <ul class="dropdown dropright">
            <li type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <a>
                <img src="" class="rounded" alt="Cliente 2">
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="row" style="height: 100%;">
          <ul class="dropdown dropright">
            <li type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
              <a>
                <img src="" class="rounded" alt="Cliente 3">
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>