<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Brand</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="container-fluid">
      <h3> </h3>
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Catalogo</h1>
          <form class="form-inline mr-auto d-flex align-items-end align-self-end justify-content-end">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Busqueda">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Buscar</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-3">
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Ubicaciones</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Estados</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Agentes</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Amigos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Todos</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Tipo</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Vivienda</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Terreno</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Precio</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Mayor a Menor</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Menor a Mayor</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mx-auto text-center">
              <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
              <div class="card">
                <h5 class="card-header"> Inmueble 1</h5>
                <div class="card-body">
                  <p class="card-text"> Agente 1</p>
                </div>
                <div class="card-footer"> Ubicacion 1</div>
              </div>
              <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
            </div>
            <div class="col-md-3">
              <div class="col-md-12 mx-auto text-center">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
                <div class="card">
                  <h5 class="card-header"> Inmueble 1</h5>
                  <div class="card-body">
                    <p class="card-text"> Agente 1</p>
                  </div>
                  <div class="card-footer"> Ubicacion 1</div>
                </div>
                <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-md-12 mx-auto text-center">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
                <div class="card">
                  <h5 class="card-header"> Inmueble 1</h5>
                  <div class="card-body">
                    <p class="card-text"> Agente 1</p>
                  </div>
                  <div class="card-footer"> Ubicacion 1</div>
                </div>
                <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-md-12 mx-auto text-center">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
                <div class="card">
                  <h5 class="card-header"> Inmueble 1</h5>
                  <div class="card-body">
                    <p class="card-text"> Agente 1</p>
                  </div>
                  <div class="card-footer"> Ubicacion 1</div>
                </div>
                <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
              </div>
            </div>
          </div>
          <h3> </h3>
          <div class="row">
            <div class="col-md-3 mx-auto text-center">
              <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
              <div class="card">
                <h5 class="card-header"> Inmueble 1</h5>
                <div class="card-body">
                  <p class="card-text"> Agente 1</p>
                </div>
                <div class="card-footer"> Ubicacion 1</div>
              </div>
              <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
            </div>
            <div class="col-md-3">
              <div class="col-md-12 mx-auto text-center">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
                <div class="card">
                  <h5 class="card-header"> Inmueble 1</h5>
                  <div class="card-body">
                    <p class="card-text"> Agente 1</p>
                  </div>
                  <div class="card-footer"> Ubicacion 1</div>
                </div>
                <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-md-12 mx-auto text-center">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
                <div class="card">
                  <h5 class="card-header"> Inmueble 1</h5>
                  <div class="card-body">
                    <p class="card-text"> Agente 1</p>
                  </div>
                  <div class="card-footer"> Ubicacion 1</div>
                </div>
                <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-md-12 mx-auto text-center">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mx-auto d-flex justify-content-center">
                <div class="card">
                  <h5 class="card-header"> Inmueble 1</h5>
                  <div class="card-body">
                    <p class="card-text"> Agente 1</p>
                  </div>
                  <div class="card-footer"> Ubicacion 1</div>
                </div>
                <button type="button" class="btn active btn-sm btn-outline-info justify-content-center d-flex align-items-center align-self-center mx-auto"> Ver Publicacion</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-3"> </div>
            <div class="col-md-3"> </div>
            <div class="col-md-3"> </div>
          </div>
          <h3> </h3>
          <nav>
            <ul class="pagination align-items-center d-flex justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center">
          <p class="mb-5">
            <strong>Pingendo Inc.</strong>
            <br>795 Folsom Ave, Suite 600
            <br>San Francisco, CA 94107
            <br>
            <abbr title="Phone">P:</abbr> (123) 456-7890 </p>
          <div class="my-3 row">
            <div class="col-4">
              <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-3x fa-facebook"></i>
              </a>
            </div>
            <div class="col-4">
              <a href="https://twitter.com" target="_blank">
                <i class="fa fa-3x fa-twitter"></i>
              </a>
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com" target="_blank">
                <i class="fa fa-3x fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;&amp;markers=folsom+Ave+san+francisco&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x300&amp;sensor=false&amp;scale=2"> </div>
      </div>
    </div>
  </div>