<app-navbar></app-navbar>
<div class="py-3" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/form_red.jpg&quot;);">
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="align-self-center col-md-6 text-light">
        <h1 class="text-center text-md-left display-3 " style="text-shadow: 2px 2px #000000;">Publicar Inmueble</h1>
        <p class="lead text-lowercase text-primary d-none d-lg-block" style=" font-weight: bold;"> ¿Qué esperas para empezar a vender?!</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body ">
            <h2 class=" d-flex justify-content-center">Datos del inmueble</h2>
            <hr>
            <form>
              <div class="form-group">
                <input class="form-control" placeholder="Nombre"> </div>
              <div class="form-group">
                <input class="form-control" placeholder="Metros cuadrados"> </div>
              <hr>
              <div class="form-group ">
                <div class="col">
                  <div class="row ">
                    <input type="text" placeholder="Direccion" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>
                  </div>
                  <!--Mapa-->
                    
                      <agm-map 
                        [zoom]="zoom" 
                        [latitude]="latitude" 
                        [longitude]="longitude"
                        [zoomControl]="false"
                        [styles]="styles"
                        (mapClick)="onChoseLocation($event)">
                      <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
                    </agm-map>
                    
                </div>
              </div>
              
              <div class="form-group">
                
                <input class="form-control" placeholder="Observaciones">
              </div>
              <div class="form-group">
                
                <input class="form-control" placeholder="$ Precio">
              </div>
              <div class="btn-group m-1 d-flex justify-content-center">
                <button type="button" class="btn btn-light">Tipo de inmueble</button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-primary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"></button>
                <div class="dropdown-menu bg-dark">
                  <a class="dropdown-item">Vivienda</a>
                  <a class="dropdown-item">Terreno</a>
                  <a class="dropdown-item">Local</a>
                  <a class="dropdown-item">Apartamento</a>
                </div>
              </div>
              <div class="btn-group m-1 d-flex justify-content-center">
                <button type="button" class="btn btn-light">Publicacion</button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-primary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"></button>
                <div class="dropdown-menu bg-dark">
                  <a class="dropdown-item">Compra</a>
                  <a class="dropdown-item">Venta</a>
                  <a class="dropdown-item">Alquiler</a>
                </div>
              </div>
              <div class="btn-group m-1 d-flex justify-content-center">
                <button type="button" class="btn btn-light">Cliente</button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-primary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"></button>
                <div class="dropdown-menu bg-dark">
                  <a class="dropdown-item">Carlos Martinez</a>
                  <a class="dropdown-item">Jose De Franca</a>
                  <a class="dropdown-item">Guilmer Montilla</a>
                </div>
              </div>
              <button type="submit" class="btn mt-2 btn-outline-dark d-flex justify-content-center align-items-center align-self-center mx-auto text-light">Publicar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
