
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Brand</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/form_red.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="align-self-center col-md-6 text-dark">
          <h1 class="text-center text-md-left display-3 text-primary">Publicar Inmueble</h1>
          <p class="lead text-lowercase text-secondary">Que esperas para empezar a vender?</p>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-5">
              <h2 class="pb-3">Datos del inmueble</h2>
              <hr>
              <form action="https://formspree.io/YOUREMAILHERE">
                <div class="form-group">
                  <label>Nombre</label>
                  <input class="form-control" placeholder="Nombre"> </div>
                <div class="form-group">
                  <label>Superficie</label>
                  <input class="form-control" placeholder="Metros cuadrados"> </div>
                <h3> </h3>
                <hr>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="option1" id="inlineRadio1" name="inlineRadioOptions"> Compra </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="option2" id="inlineRadio2" name="inlineRadioOptions"> Venta </label>
                </div>
                <div class="form-check form-check-inline disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled=""> Alquiler </label>
                </div>
                <hr>
                <div class="form-group">
                  <label>Direccion</label>
                  <input type="form-cotrol" class="form-control" placeholder="Direccion"> </div>
                <div class="form-group">
                  <label>Observaciones</label>
                  <input class="form-control" placeholder="Observaciones"> </div>
                <div class="btn-group m-2 d-flex justify-content-center">
                  <button type="button" class="btn btn-light" href="#">Tipo de inmueble</button>
                  <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-primary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Vivienda</a>
                    <a class="dropdown-item" href="#">Terreno</a>
                    <a class="dropdown-item" href="#">Local</a>
                    <a class="dropdown-item" href="#">Apartamento</a>
                  </div>
                </div>
                <button type="submit" class="btn mt-2 btn-outline-dark d-flex justify-content-center align-items-center align-self-center mx-auto text-light">Publicar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center">
          <p class="mb-5">
            <strong>Pingendo Inc.</strong>
            <br>795 Folsom Ave, Suite 600
            <br>San Francisco, CA 94107
            <br>
            <abbr title="Phone">P:</abbr> (123) 456-7890 </p>
          <div class="my-3 row">
            <div class="col-4">
              <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-3x fa-facebook"></i>
              </a>
            </div>
            <div class="col-4">
              <a href="https://twitter.com" target="_blank">
                <i class="fa fa-3x fa-twitter"></i>
              </a>
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com" target="_blank">
                <i class="fa fa-3x fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;&amp;markers=folsom+Ave+san+francisco&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x300&amp;sensor=false&amp;scale=2"> </div>
      </div>
    </div>
  </div>
