<app-navbar></app-navbar>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 w-75">Agentes Inmobiliarios</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="Amigos" class="active nav-link">
                <i class="fa fa-hand-peace">&nbsp;Listado de Amigos</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Ver Solicitudes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Politicas y Privacidad</a>
            </li>
          </ul>
          <form class="form-inline mr-auto d-flex align-items-end align-self-end justify-content-end">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Busqueda">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="carousel slide" id="carousel-871314">
                <ol class="carousel-indicators justify-content-center align-items-end align-self-end d-flex">
                  <li data-slide-to="0" data-target="#carousel-871314" class="active"> </li>
                  <li data-slide-to="1" data-target="#carousel-871314"> </li>
                  <li data-slide-to="2" data-target="#carousel-871314"> </li>
                </ol>
                <div class="carousel-inner">

                  <div class="carousel-item active">
                    <div class="row">

                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_6.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 1</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center align-items-start">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_4.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 2</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_3.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 3</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- LISTA #2 de gentesilla -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_6.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 4</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center align-items-start">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_4.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 5</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_3.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 6</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- LISTA #3 de gentesilla -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_6.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 7</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center align-items-start">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_4.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 8</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <div class="card">
                            <img class="card-img-top rounded-circle" src="assets/conference/people_3.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Perfil 9</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary d-flex justify-content-center">Conectar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <a class="carousel-control-prev" href="#carousel-871314" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-871314" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>