<app-navbar></app-navbar>
<div class="py-5" style="background-image: url(&quot;/assets/images/cofre.png&quot;);background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-dark-opaque">
        <h1 class="display-1 text-center">Favoritos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Inmueble</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">Inmueble</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-inline-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">
              <span>«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <span>»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>