
  <nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top ">
    <a class="navbar-brand" routerLink="/Dashboard">
  <i class="fas d-inline fa-home"></i>
  <b class="m-1">Suburbuy</b>
</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#barrita">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse text-center justify-content-end " id="barrita">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Publicar">
        <i class="fa d-inline fa-lg m-1 fa-briefcase"></i>  Publicar</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Catalogo">
        <i class=" d-inline fa-lg m-1 fas fa-list-alt"></i> Catalogo</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Red">
        <i class="fa d-inline fa-lg fa-user-circle m-1"></i> Mi red</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/MisInmuebles">
        <i class="fas fa-building d-inline m-1 fa-lg"></i> Mis Inmuebles</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" >
        <i class="fas fa-address-card d-inline m-1 fa-lg"></i> Mi Perfil</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Clientes">
        <i class="fas fa-cog d-inline m-1 fa-lg "></i> Configuracion</a>
    </li>
    <!-- Vainas extra
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="far fa-heart d-inline m-1 fa-lg"></i> Favoritos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">
      <div class="fa-lg d-inline">
        <span class="fa-layers fa-fw">
            <i class="far fa-envelope "></i>
            <span class="fa-layers-counter fa-sm" style="font-size: 14px">1,419</span>
        </span>
      </div>Mensajes</a>
    </li>
    -->

  </ul>
</div>
</nav>


