<app-navbar></app-navbar>
<div class="py-5" style="background-image: url(&quot;/assets/images/circular.jpg&quot;);background-size:cover;" >
  <div class="container">
    <div class="row">
      <div class="align-self-center col-md-6 text-dark">
        <h1 class="text-center text-md-left display-3 text-primary">Agregar Cliente</h1>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body p-5">
            <h2 class="pb-3">Datos del Cliente</h2>
            <hr>
            <form action="https://formspree.io/YOUREMAILHERE">
              <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="Nombre"> </div>
              <div class="form-group">
                <label>Correo</label>
                <input class="form-control" placeholder="ejemplo@correocaliente.com"> </div>
              <h3> </h3>
              <hr>
              <div class="form-group">
                <label>Direccion</label>
                <input type="form-cotrol" class="form-control" placeholder="Direccion"> </div>
              <div class="form-group">
                <label>Observaciones</label>
                <input class="form-control" placeholder="Observaciones"> 
              </div>
              <hr>
              <button type="submit" class="btn mt-2 btn-outline-dark d-flex justify-content-center align-items-center align-self-center mx-auto text-light">Agregar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>