
  <div class="container" style="background-image: url(&quot;./assets/images/Big_Ben_Clock_tower_in_London_England_HD_Wallpapers.jpg&quot;);background-size:cover;">
    <div class="row">
      <div class="col-md-5 mx-auto w-100 h-1000" style="transition: all 0.25s;"></div>
      <div class="col-md-4 mx-auto w-75 h-100 bg-dark-opaque" style="transition: all 0.25s;">
        <h1 class="display-3">New User</h1>
        <h3 class="" contenteditable="true">Please enter the requested fields</h3>
        <form class="h-50">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
            <small class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="Name" class="form-control" placeholder="Name"> </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password"> </div>
          <div class="form-group">
            <label>Verify Password</label>
            <input type="password" class="form-control" placeholder="Password"> </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="phone" class="form-control" placeholder="Phone"> </div>
          <div class="form-group">
            <label>&nbsp;</label>
            <div> </div>
          </div>
          <p class="text-center">Signing up signifies that you have read and agree to the Terms of Service and our Privacy Policy.</p>
          <a class="btn btn-primary btn-lg d-flex text-white mx-auto text-center justify-content-center p-1 w-50" href="#">Create Account</a>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="h-75" >
        
      </div>
    </div>
  </div>
