<app-navbar></app-navbar>
<div class="py-5" style="background-image: url(&quot;/assets/images/escritorio.jpg&quot;);background-size:cover;" >
  <div class="container">
    <h1 class="display-1 text-primary text-light bg-dark-opaque m-4">Nombre del Cliente</h1>
    <div class="row">
      <div class="col-md-6 align-self-center bg-dark-opaque">
        <p class="my-3">Informacion agregada por el usuario sobre el cliente.</p>
      </div>
      <div class="col-md-6 bg-dark-opaque">
        <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
        <div class="col-md-12 bg-dark-opaque">
          <div class="row">
            <div class="col-md-12">
              <h1 class="">Requerimientos.</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ol class="">
                <li>Requerimiento 1</li>
                <li>Requerimiento 2</li>
                <li>Requerimiento 3</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-dark-opaque">
      <div class="col-md-12">
        <div class="btn-group align-self-center align-items-center d-flex justify-content-center my-5">
          <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Inmuebles&nbsp;</button>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item">Inmueble 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Inmueble 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Inmueble 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>