
<app-navbar></app-navbar>
  <h1 class="display-1 text-primary text-light text-center m-4">Mis Inmuebles</h1>
  <div class="container" >
      <div class="container-fluid" style="background-image: url(&quot;/assets/images/patronback.jpg&quot;);background-size:cover;">
        <h3> </h3>
        <div class="row">
          <div class="col-md-12" >
            <form class="form-inline mr-auto d-flex align-items-end align-self-end justify-content-end">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Busqueda">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" routerLink="/Catalogo">Buscar</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12 m-1"></div>
            </div>
            <div class="row">
              <div class="col-md-3 border-secondary" routerLink="/Publicacion">
                <div class="col-md-12 mx-auto text-center border-secondary bg-dark-opaque py-1 border">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="d-flex justify-content-center mx-auto border border-info rounded-circle p-2 bg-dark">
                  <h3> </h3>
                  <div class="card">
                    <h5 class="card-header border p-2 bg-dark"> Inmueble 1</h5>
                    <div class="card-body border bg-dark">
                      <p class="card-text"> Agente 1</p>
                    </div>
                    <div class="card-footer bg-dark"> Ubicacion 1</div>
                  </div>
                  <h3> </h3>
                  <button type="button" class="btn active btn-sm justify-content-center d-flex align-items-center align-self-center mx-auto btn-outline-primary" routerLink="/Publicacion"> Ver Publicacion</button>
                  <h3> </h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12 mx-auto text-center border-secondary bg-dark-opaque py-1 border">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="d-flex justify-content-center mx-auto border border-info rounded-circle p-2 bg-dark">
                  <h3> </h3>
                  <div class="card">
                    <h5 class="card-header border p-2 bg-dark"> Inmueble 1</h5>
                    <div class="card-body border bg-dark">
                      <p class="card-text"> Agente 1</p>
                    </div>
                    <div class="card-footer bg-dark"> Ubicacion 1</div>
                  </div>
                  <h3> </h3>
                  <button type="button" class="btn active btn-sm justify-content-center d-flex align-items-center align-self-center mx-auto btn-outline-primary" routerLink="/Publicacion"> Ver Publicacion</button>
                  <h3> </h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12 mx-auto text-center border-secondary bg-dark-opaque py-1 border">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="d-flex justify-content-center mx-auto border border-info rounded-circle p-2 bg-dark">
                  <h3> </h3>
                  <div class="card">
                    <h5 class="card-header border p-2 bg-dark"> Inmueble 1</h5>
                    <div class="card-body border bg-dark">
                      <p class="card-text"> Agente 1</p>
                    </div>
                    <div class="card-footer bg-dark"> Ubicacion 1</div>
                  </div>
                  <h3> </h3>
                  <button type="button" class="btn active btn-sm justify-content-center d-flex align-items-center align-self-center mx-auto btn-outline-primary" routerLink="/Publicacion"> Ver Publicacion</button>
                  <h3> </h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12 mx-auto text-center border-secondary bg-dark-opaque py-1 border">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="d-flex justify-content-center mx-auto border border-info rounded-circle p-2 bg-dark">
                  <h3> </h3>
                  <div class="card">
                    <h5 class="card-header border p-2 bg-dark"> Inmueble 1</h5>
                    <div class="card-body border bg-dark">
                      <p class="card-text"> Agente 1</p>
                    </div>
                    <div class="card-footer bg-dark"> Ubicacion 1</div>
                  </div>
                  <h3> </h3>
                  <button type="button" class="btn active btn-sm justify-content-center d-flex align-items-center align-self-center mx-auto btn-outline-primary" routerLink="/Publicacion"> Ver Publicacion</button>
                  <h3> </h3>
                </div>
              </div>
            </div>
            <h3> </h3>
            <div class="row">
              <div class="col-md-12 bg-light"></div>
            </div>
            <div class="row">
              <div class="col-md-3"> </div>
              <div class="col-md-3"> </div>
              <div class="col-md-3"> </div>
              <div class="col-md-3"> </div>
            </div>
            <h3> </h3>
            <nav>
              <ul class="pagination align-items-center d-flex justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  